.wheel{
  display: flex;
  justify-content:space-between ;
  width: 80%;

}


.dot {
  height: 25px;
    width: 25px;
    padding: 2px;
    margin: 9px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
}
.outerdot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}



#father{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#middle{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

#right{
  width: 20%;
  border: 1px solid black;

}
#left{
display: flex;
  flex-direction: column;
width: 15%;
height: 100%;
margin: 20px;
  padding: 10px;
  border: 1px solid black;
}
#middle1 , #middle2 , #middle3{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 40%;
    margin-right: 20px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 40px;

}
#div1, #div2 ,#div3 ,#div4,#div5, #div6 ,#div7 ,#div8,#div9, #div10 ,#div11 ,#div12,#div13,#div14{
  display: flex;
  flex-direction: row;

  height: 30px;
  
  border-bottom: 1px solid black;
}

 #div15, #div16 ,#div17 ,#div18, #div19, #div20,#div21, #div22 ,#div23 ,#div24 ,#div25, #div26 ,#div27 ,#div28, #div29, #div30 ,#div31,#div32, #div33 ,#div34 ,#div35 ,#div36, #div37 ,#div38 ,#div39, #div40, #div41,#div42,#div43 ,#div44 {
  display: flex;
  flex-direction: row;
  width: 19%;
  height: 30px;
  

  border: 1px solid black;
}

/*@media only screen and (max-width: 300px) {
  #middle1 , #middle2 , #middle3{
    width: 80%;
  height: 80%;

  }
  #div5, #div6 ,#div7 ,#div8, #div9, #div10,#div11, #div12 ,#div13 ,#div14 ,#div15, #div16 ,#div17 ,#div18, #div19, #div20 ,#div21,#div22, #div23 ,#div24 ,#div25 ,#div26, #div27 ,#div28 ,#div29, #div30, #div31,#div32,#div33 ,#div34 {
    width: 19%;
  height: 10%;
  background-color: black;
  }
#middle{
  height:100%;
}
  
}*/